[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
	ignore=untracked
[submodule "site-lisp/lsp-ui"]
	path = site-lisp/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
	ignore=untracked
[submodule "site-lisp/company-lsp"]
	path = site-lisp/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
	ignore=untracked
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
	ignore=untracked

[submodule "site-lisp/awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
	ignore=untracked
[submodule "site-lisp/color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
	ignore=untracked
[submodule "site-lisp/ccls"]
	path = site-lisp/ccls
	url = https://github.com/MaskRay/emacs-ccls.git
	ignore=untracked
[submodule "site-lisp/snails"]
	path = site-lisp/snails
	url = https://github.com/manateelazycat/snails.git
	ignore=untracked
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
	ignore=untracked
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
	ignore=untracked
[submodule "site-lisp/eaf"]
	path = site-lisp/eaf
	url = https://github.com/manateelazycat/emacs-application-framework.git
	ignore=untracked
[submodule "site-lisp/fuz"]
	path = site-lisp/fuz
	url = https://github.com/rustify-emacs/fuz.el.git
	ignore=untracked
[submodule "site-lisp/liberime"]
	path = site-lisp/liberime
	url = https://github.com/merrickluo/liberime.git
	ignore=untracked
[submodule "site-lisp/nox"]
	path = site-lisp/nox
	url = https://github.com/manateelazycat/nox.git
	ignore=untracked
