[submodule "site-lisp/company-english-helper"]
	path = site-lisp/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
	ignore=untracked
[submodule "site-lisp/lsp-mode"]
	path = site-lisp/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
	ignore=untracked
[submodule "site-lisp/lsp-ui"]
	path = site-lisp/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui.git
	ignore=untracked
[submodule "site-lisp/company-lsp"]
	path = site-lisp/company-lsp
	url = https://github.com/tigersoldier/company-lsp.git
	ignore=untracked
[submodule "site-lisp/auto-save"]
	path = site-lisp/auto-save
	url = https://github.com/manateelazycat/auto-save.git
	ignore=untracked

[submodule "site-lisp/thing-edit"]
	path = site-lisp/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
	ignore=untracked
[submodule "site-lisp/awesome-pair"]
	path = site-lisp/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair.git
	ignore=untracked
[submodule "site-lisp/lazy-search"]
	path = site-lisp/lazy-search
	url = https://github.com/manateelazycat/lazy-search.git
	ignore=untracked
[submodule "site-lisp/color-rg"]
	path = site-lisp/color-rg
	url = https://github.com/manateelazycat/color-rg.git
	ignore=untracked
[submodule "site-lisp/liberime"]
	path = site-lisp/liberime
	url = https://gitlab.com/liberime/liberime.git
	ignore=untracked
[submodule "site-lisp/ccls"]
	path = site-lisp/ccls
	url = https://github.com/MaskRay/emacs-ccls.git
	ignore=untracked
[submodule "site-lisp/snails"]
	path = site-lisp/snails
	url = https://github.com/manateelazycat/snails.git
	ignore=untracked
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/mengqp/yasnippet-snippets.git
	ignore=untracked
[submodule "site-lisp/awesome-tab"]
	path = site-lisp/awesome-tab
	url = https://github.com/manateelazycat/awesome-tab.git
	ignore=untracked
[submodule "site-lisp/awesome-tray"]
	path = site-lisp/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
	ignore=untracked
[submodule "site-lisp/lazycat-theme"]
	path = site-lisp/lazycat-theme
	url = https://github.com/manateelazycat/lazycat-theme.git
	ignore=untracked
